/* Style du conteneur principal */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style des titres */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Style des champs de formulaire */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des messages d'erreur */
.error-message {
    color: #dc3545;
    font-size: 12px;
}

/* Style des boutons */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px; /* Espacement supplémentaire après le bouton */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style du lien pour l'inscription */
.register-link {
    margin-top: 15px; /* Espacement au-dessus du paragraphe */
    text-align: center;
    font-size: 14px;
}

.register-link p {
    margin-bottom: 5px; /* Espacement supplémentaire sous le paragraphe */
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
