.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.user-info {
    text-align: center;
    margin-top: 10px;
}

.reviews-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.reviews-container h2 {
    margin-bottom: 20px;
}

.reviews-container ul {
    list-style: none;
    padding: 0;
}

.reviews-container ul li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reviews-container ul li p {
    margin: 5px 0;
}
