/* navbar */
.nav {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* étoiles du logo */
.nav .stars {
  color: #f2cd5c;
  filter: drop-shadow(0 0 2.5px rgb(242, 205, 92));
  margin-right: 9px;
  margin-left: 9px;
}

/* texte du logo */
.nav .logo {
  display: flex;
  position: relative;
  flex-direction: row;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
}

/* link */
.links {
  display: flex;
  flex-direction: row;
}

/* redirection */
.nav-link {
  display: block;
  max-width: 300px;
  min-width: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  background-color: #444;
  border-radius: 5px;
  margin-left: 30px;
  font-weight: bold;
  transition: all 0.3s;
}

/* redirection (survol) */
.nav .nav-link:hover {
  color: #f2cd5c;
}

#login_signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login, #signin {
  display: block;
  width: auto;
  min-width: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px 20px;
  font-size: 13px;
  background-color: #444;
  border-radius: 5px;
}

#login:hover, #signin:hover {
  background-color: #555;
}

/* Adaptations pour une largeur <= 800px */
@media screen and (max-width: 800px) {
  .nav {
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .links {
      flex-direction: column;
      padding: 0;
      margin-top: 10px;
  }

  .nav-link {
      margin-left: 0;
      margin-bottom: 10px;
  }
}
