
footer {
  background-color: #24190d;
  color: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position:absolute;
}

#footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  /* Adaptations pour une largeur <= 800px */
@media screen and  (max-width: 800px) {
    footer {
      height: auto;
      position: relative;
    }

    #footer {
      flex-direction: column;
    }
}
  