footer {
    background-color: #24190d;
    color: #ffffff;
    height: 60px;
    width: 100%+9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left : -9px;
  }
  
  /* Adaptations pour une largeur <= 800px */
@media screen and  (max-width: 800px) {
    footer {
      height: 200px;
      flex-direction: column;
    }
}
  